@import
url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}


.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    width: 40px;
    margin-right: 12px;
}

.logo__title {
    font-size: 24px;
    font-weight: 900;
}

img {
    width: 100%;
}

ul {
    display: flex;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    list-style-type: none
}

a {
    text-decoration: none;
}

.nav__link {
    margin: 0 24px;
    padding-bottom: 4px;
    font-size: 14px;
}

.nav__link:hover {
    text-decoration: underline;
    
}