@import
url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

main {
    padding: 32px;
    overflow-x: hidden;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    width: 40px;
    margin-right: 12px;
}

.nav__logo--wrapper {
    display: flex;
    align-items: center;
    margin-right: 24px;
}

img {
    width: 100%;
}

ul {
    display: flex;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    list-style-type: none
}

a {
    text-decoration: none;
}

.nav__link {
    margin: 0 24px;
    padding-bottom: 4px;
    font-size: 14px;
    font-weight: 600;
}

.login {
    display: flex;
    margin-left: 32px;
}

.nav__link--primary {
    background-color: #6415ff;
    border-radius: 50px;
    color: #ffff;
    font-size: 14px;
    font-weight: 550;
    padding: 12px 32px;
}